<header>
    <div class="titre">
        <img src="/ghost-boo.gif" alt="fantôme qui fait boo">
        <h1>HelpMe !</h1>
    </div>
    <nav>
        <a href="">Accueil</a>
        <a href="">Se connecter</a>
    </nav>

</header>